# Be sure to restart your server when you modify this file.

# Your secret key is used for verifying the integrity of signed cookies.
# If you change this key, all old signed cookies will become invalid!

# Make sure the secret is at least 30 characters and all random,
# no regular words or you'll be exposed to dictionary attacks.
# You can use `rails secret` to generate a secure secret key.

# Make sure the secrets in this file are kept private
# if you're sharing your code publicly.

# Shared secrets are available across all environments.

# shared:
#   api_key: a1B2c3D4e5F6

# Environmental secrets are only available for that specific environment.

development:
  secret_key_base: 80d1d66c44d9b86b6ad6c2d87830f4eee1f660a2c39cee6bf53536a33214d4def2f2709ba6a4ef8ffd9c93edf1303923bb228ad84466363a9961f06816dc7f8d

test:
  secret_key_base: 876a3af9966096c5b8f78b4d80901ffaf9e21f4ef5e59737bc324ea634779bc62043c99b9d7213076357b99607b4ff2b271694a1ec5c6796194359f2ff86f380

# Do not keep production secrets in the unencrypted secrets file.
# Instead, either read values from the environment.
# Or, use `bin/rails secrets:setup` to configure encrypted secrets
# and move the `production:` environment over there.

production:
  secret_key_base: <%= ENV["SECRET_KEY_BASE"] %>
